<h2>Interpolation</h2>

<p> {{value}} + {{value2}} = {{value + value2}}</p>


<hr>


<h2>Property Binding</h2>

<button [disabled]=disabledButton>Button</button>

<br>

<br>

<img [src]="imgSrc" >


<hr>

<h2>Event Binding</h2>

<div *ngIf="renderRed" (mousemove)="mouseMoveFunc($event)" style="background: red; width: 300px; height: 300px;" ></div>
<div *ngIf="!renderRed" (mousemove)="mouseMoveFunc($event)" style="background: green; width: 300px; height: 300px;" ></div>
({{position.x}}, {{position.y}})


<hr>

<h2>Two-way Binding</h2>

<input type="number" [(ngModel)]="value">
<br>
{{value}}
