<p *ngIf="render; else elseRender" >{{renderedPhrase}}</p>

<ng-template #elseRender>
    <p>{{notRenderedPhrase}}</p>
</ng-template>

<hr>

<p *ngIf="clickRender" >{{renderedPhrase}}</p>
<p *ngIf="!clickRender" >{{notRenderedPhrase}}</p>

<button (click)="changeClickRender()" >click to {{ clickRender ? notRenderedPhrase : renderedPhrase }}</button>

<hr>

<ul>
        <li *ngFor="let item of list; let i = index" > {{i}} - {{ item.nome }}</li>
</ul>


<hr>

<input type="text" [(ngModel)]="switchVar" >
<div [ngSwitch]="switchVar">
    <p *ngSwitchCase=" 'gabriel' " >
        nome
    </p>

    <p *ngSwitchCase=" 'borges' " >
        sobrenome
    </p>

    <p *ngSwitchDefault>
        Default
    </p>

</div>

<input type="number" [(ngModel)]="ngSwitchTestCompareVar" >
<div [ngSwitch]="ngSwitchTestCompare()">
    <p *ngSwitchCase=true >
        maior que 10
    </p>

    <p *ngSwitchCase=false >
        menor ou igual a 10
    </p>

</div>
